<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/nav') %>
   
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Bharacters</h1>
            <p class="lead">Click the show or movie and learn about its characters!</p>
        </div>
    </div>

    <div class="card-deck">
        <div class="card">
          <img src="images/rnm.jpg" class="card-img-top" alt="rnm">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Data from: </small>
          </div>
        </div>
        <div class="card">
          <img src="images/bb.jpeg" class="card-img-top" alt="breakingBad">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="images/sw.png" class="card-img-top" alt="StarWars">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    
<!-- 
    <script>
        var name = "<%=test%>";
        console.log(name);
        fetch(`https://pokeapi.co/api/v2/pokemon/${name}`)
        .then(
            response=>response.json()
        )
        .then( data => console.log(data));
    </script>
 -->
</body>
</html>