<!doctype html>
<html lang="en">
  <head>
      <title><%=data.name%></title>
        <%- include('partials/metaData') %>
  </head>
  <body>
        <%- include('partials/nav') %>
      
        <%- include('partials/js') %>
  </body>
</html>