      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Final Project</a>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rnm">Rick and Morty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bb">Breaking Bad</a>
                    </li>
                    <li class="nav-item">
                            <a href="/sw" class="nav-link ">Star Wars</a>
                        </li>
                </ul>
            </div>
        </nav>